<main>
    <h1 class="text-3xl font-serif pb-2 mb-3 border-b">{{.Set.Name}}</h1>

    <div class="sm:float-right sm:clear-right sm:ml-2 sm:w-64 w-full bg-background border mb-2 p-1">
        <table class="m-auto border-spacing-0.5 leading-6">
            <tbody>
            <tr>
                <th colspan="2" class="infobox-above">{{.Set.Name}}</th>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="px-1" src="https://placehold.co/800x800" width="800" height="800" loading="lazy" decoding="async"
                         alt="Image of {{.Set.Name}}"/>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Pieces</th>
                <td class="text-left">{{.Set.Pieces}}</td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Brand</th>
                <td class="text-left">{{.Set.BrandName}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p class="text-pretty">
        {{.Set.Description}}
    </p>
</main>
